page-add-items {

.card-page
{
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%)	;
	color: #fff;
	position: relative;
    text-align: justify;
    font-size: 1.0em;
}

.card-subtitle
{
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	font-size: 1.0em;
    text-align: center;
    color: #fff;
    width: 150px;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
}

}
